body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: mediumslateblue;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: mediumslateblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}
header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #8c8c8c;
    margin-right: 20px;
}
.search-bar {
    width: 400px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid mediumslateblue;
    margin-left: 500px;
    text-align: center; /* Center text inside the search bar */
}
.tabs {
    display: flex;
    justify-content: center; /* Center the tabs */
    gap: 10px;
    margin-top: 20px;
}
.tabs button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: mediumslateblue;
    color: mediumslateblue;
    font-weight: bold;
}
.tabs button:hover {
    background-color: mediumslateblue;
}
.tabs button.active {
    background-color: mediumslateblue;
}
.listing {
    margin-top: 20px;
}
.listing-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid mediumslateblue;
    border-radius: 10px;
    background-color: mediumslateblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.listing-item img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
}
.listing-item .details {
    flex-grow: 1;
}
.listing-item .details h3 {
    margin: 0;
    font-size: 18px;
    color: mediumslateblue;
}
.listing-item .details .rating {
    margin: 5px 0;
    color: #f39c12;
}
.listing-item .details .info {
    color: mediumslateblue;
}
.hidden {
    display: none;
}
.icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}
.wifi:before {
    content: "\1F4F6";
}
.restroom:before {
    content: "\1F6BB";
}
.fuel:before {
    content: "\26FD";
}
.atm:before {
    content: "\1F3E6";
}
.small-image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-right: 10px;
    object-fit: cover;
}