* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logo {
  width: 200px;
}

#link1 {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-weight: 600;
}

#link2 {
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.filtro {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.filtro span {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.barra-busca {
  position: relative;
}

#busca {
  display: block;
  margin: 50px auto;
  width: 50vw;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding-left: 60px;
  font-size: 24px;
}

#lupa {
  display: inline-block;
  width: 24px;
  position: absolute;
  left: 465px;
  top: 20px;
}

#botao-buscar {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  background-color: blueviolet;
  border-radius: 20px;
  position: absolute;
  left: 1360px;
  bottom: 18px;
  cursor: pointer;
}

.destaques {
  display: grid;
  justify-content: center;
  background-color: #eee;
  padding: 50px;
}

h2 {
  margin-bottom: 40px;
  place-items: start;
}

.quadros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 30px;
}

.quadros h3 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.quadro-itens {
  padding: 100px;
  border-radius: 20px;
}

#quadro1 {
  background-image: url(/img/rest.jpg);
}

#quadro2 {
  background-image: url(/img/post.jpg);
}

#quadro3 {
  background-image: url(/img/merc.jpg);
}
