body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%; 
    
    max-width: 450px; 
}

.cabecalho {
    display: grid;
    background-image: url('source/bh.jpg');
    height: 300px;
}

.titulo {
    position: absolute;
    left: 70px;
    color: white; 
}

.back {
    margin: 10px;
    width: 30px;
}

.menu {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.pesquisa {
    display: grid;
    width: 100%;
    place-items: center;
}

.search-bar {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    position: relative; 
}

.search-bar input {
    flex-grow: 1; 
    height: 45px;
    border-radius: 20px;
    border-color: white;
    background-color: white;
    color: rgba(238, 238, 238, 0);
    font-size: 15px;
    font-weight: bold;
    padding-right: 110px;
    padding-left: 60px;
}

.lupa {
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
}

.buscar {
    position: absolute;
    left: 265px; 
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    height: 25px; 
    width: 90px; 
    background-color: #3e44b8;
    margin-right: 0px;
    font-weight: bold;
    color: white;
    border: none; /* Remover a borda */
}


.btn {
    border-radius: 20px;
    height: 30px; 
    width: 80px; 
    background-color: #3e44b8;
    margin-right: 0px;
    font-weight: bold;
    color: white;
    border-color: #3e44b8;
}

.location {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}

.location h2 {
    margin: 0;
}

.location .stars {
    color: gold;
}


@media screen and (max-width: 768px) {
    .container {
        width: 90%; 
    }

    .search-bar input {
        padding-right: 80px;
    }

    .btn {
        width: 100%; 
    }
}
